<% @tasks.each_with_index do |task, index| %>
  <h4>Task#<%= index + 1 %></h4>
  <b>Title:</b> <%= task.title %><br/>
  <b>Description:</b> <%= task.description %><br/>
  <%= link_to 'Show', task %>
<% end %>
<br />
